#blacklogo {
	position: absolute;
	top: 10px;
	left: 10px;
}

#bch_logo {
  position: absolute;
  bottom: 47px;
  left: 10px;	
}

.threeDRenderer {
	background-color: #000;
	width: 80%;
	height: 100%;
	position: absolute;
	right: 20%;
	left: 0%;
	bottom: 0%;
	top: 0%;
}

.twoDRenderer {
	border-left: thin solid #666;
	background-color: #000;
	width: 20%;
	height: 33.333%;
	position: absolute;
	right: 0%;
}

#yellow_slider {
	margin-top: 2px;
	background: yellow;
}

#red_slider {
	margin-top: 2px;
	background: red;
}

#green_slider {
	margin-top: 2px;
	background: green;
}

.xtk-progress-bar {
	position: absolute;
	top: 50%;
	left: 50%;
}

.ren2d_icon {
	cursor: pointer;
	position: absolute;
	top: 10px;
}

.ren2d_icon_flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#atlas_selector {
	position: absolute;
	bottom: 14px;
	left: 200px;
	font-size: 1.2em;
}

#credits {
	position: absolute;
	left: 10px;
	bottom: 15px;
}

.toolbar_icon {
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
  left:10px;
}
