#blacklogo {
	position: absolute;
	top: 10px;
	left: 10px;
}

.threeDRenderer {
	background-color: #000;
	position: absolute;
}

#body.landscape.webgl_enabled>#viewer>.threeDRenderer {
	height: 100%;
	width: 80%;
}

#body.landscape.webgl_disabled>#viewer>.threeDRenderer {
	height: 100%;
	width: 70%;
}

#body.portrait.webgl_enabled>#viewer>.threeDRenderer {
	width: 100%;
	height: 80%;
}

#body.portrait.webgl_disabled>#viewer>.threeDRenderer {
	width: 100%;
	height: 70%;
}



.twoDRenderer {
	border-left: thin solid #666;
	background-color: #000;
	position: absolute;
}

/* 

Landscape mode for 2D renderers 

*/
#body.landscape.webgl_enabled>#viewer>.twoDRenderer {
	width: 20%;
	height: 33.333%;
	right: 0%;
}

#body.landscape.webgl_disabled>#viewer>.twoDRenderer {
	width: 30%;
	height: 50%;
	right: 0%;
}

#body.landscape.webgl_enabled>#viewer>#sliceX {
	top: 0%;
}

#body.landscape.webgl_enabled>#viewer>#sliceY {
	top: 33.333%;
}

#body.landscape.webgl_enabled>#viewer>#sliceZ {
	top: 66.666%;
}

#body.landscape.webgl_disabled>#viewer>#sliceX {
  top: 0%;
}

#body.landscape.webgl_disabled>#viewer>#sliceY {
  top: 50%;
}

#body.landscape.webgl_disabled>#viewer>#sliceZ {
  display: none;
}

/* 

Portrait mode for 2D renderers 

*/
#body.portrait.webgl_enabled>#viewer>.twoDRenderer {
	height: 20%;
	width: 33.333%;
	bottom: 0%;
}

#body.portrait.webgl_disabled>#viewer>.twoDRenderer {
	height: 30%;
	width: 50%;
	bottom: 0%;
}

#body.portrait.webgl_enabled>#viewer>#sliceX {
	left: 0%;
}

#body.portrait.webgl_enabled>#viewer>#sliceY {
	left: 33.333%;
}

#body.portrait.webgl_enabled>#viewer>#sliceZ {
	left: 66.666%;
}

#body.portrait.webgl_disabled>#viewer>#sliceX {
  left: 0%;
}

#body.portrait.webgl_disabled>#viewer>#sliceY {
  left: 50%;
}

#body.portrait.webgl_disabled>#viewer>#sliceZ {
  display: none;
}




#yellow_slider {
	margin-top: 2px;
	background: yellow;
}

#red_slider {
	margin-top: 2px;
	background: red;
}

#green_slider {
	margin-top: 2px;
	background: green;
}

.xtk-progress-bar {
	position: absolute;
	top: 50%;
	left: 50%;
}

.ren2d_icon {
	cursor: pointer;
	position: absolute;
	top: 10px;
}

.ren2d_icon_flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}