.icon-twitter {
  display: inline-block;
  width: 20px;
  height: 20px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;	
	background-image: url("../gfx/twitter.png");
}

.icon-facebook {
  display: inline-block;
  width: 20px;
  height: 20px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat; 
  background-image: url("../gfx/facebook.png");
}