.icon-twitter {
	display: inline-block;
	width: 18px;
	height: 18px;
	*margin-right: .3em;
	line-height: 18px;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../gfx/twitter.png");
}

.icon-facebook {
	display: inline-block;
	width: 18px;
	height: 18px;
	*margin-right: .3em;
	line-height: 18px;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../gfx/facebook.png");
}

.icon-google {
  display: inline-block;
  width: 18px;
  height: 18px;
  *margin-right: .3em;
  line-height: 18px;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../gfx/google.png");
}

.signin-panel {
	float: right;
}

.btn.btn-medium.signin-btn {
	margin-bottom: 5px;
	width: 155px;
	text-align: left;
}